<!DOCTYPE HTML>

<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <a href="/signup">Signup</a>
        <div></div>
        Login
         <form role="form" method="post" action="/api/signin" accept-charset="UTF-8">
            <div >
                 <label  for="exampleInputEmail2">Username</label>
                 <input type="text" name="username" placeholder="Username" required>
            </div>
            <div >
                 <label  for="exampleInputPassword2">Password</label>
                 <input type="password" name="password" placeholder="Password" required>
                 <div><a href="">Forget the password ?</a></div>
            </div>
            <div class="form-group">
                 <button type="submit" >Sign in</button>
            </div>
         </form>
    </body>
</html>